<template>
  <ElMain>
    <WaveOrType v-model="waveInfo" />

    <ElRow justify="center" align="middle">
      <h2 style="margin-right: 15px">Sort :</h2>
      <EnumSelector
        v-model="sortKind"
        :enum="Sort"
        color-on="success"
        :default="Sort['Overall Efficiency']"
      />
    </ElRow>

    <ElTabs v-model="pane" stretch>
      <ElTabPane label="Unit" name="unit">
        <Grid>
          <UnitInfo
            v-for="e in sorted"
            :id="e.unit.name"
            :key="e.unit.name"
            :unit="e"
          />

          <UnitInfo :unit="undefined" />
        </Grid>
      </ElTabPane>
      <ElTabPane label="Wave" name="wave">
        <Grid>
          <WaveInfo
            v-for="e in waveInfo"
            :id="e.name"
            :key="e.name"
            :unit="e"
          />
        </Grid>
      </ElTabPane>
    </ElTabs>
  </ElMain>
</template>

<script lang="ts" setup>
import { sort } from "d3-array";
import { computed, reactive, ref, watch } from "vue";

import Units from "../data/unit";
import { Wave, EmptyWaveUnit } from "../data/unit_class";

import {
  AverageDamage,
  MakeUnitInWave,
  UnitInWave,
  UpdateUnitInWaveWithAvg,
} from "../data/unit_in_wave";

const pane = ref<"unit" | "wave">("unit");
const waveInfo = ref<Wave>([EmptyWaveUnit]);

const PatchedUnits = reactive(Units).map((u) => MakeUnitInWave(u, waveInfo));
const Average = computed(() => AverageDamage(PatchedUnits));
watch(Average, (e) => console.log(e));
PatchedUnits.map((u) => UpdateUnitInWaveWithAvg(u, Average));

enum Sort {
  Damage,
  Hp,
  "Overall Efficiency",
}

const sortKind = ref(Sort["Overall Efficiency"]);

const sorted = computed(() =>
  sort(
    PatchedUnits,
    (u: UnitInWave) => {
      switch (sortKind.value) {
        case Sort.Damage:
          return -(u.dmg.avgInfo?.value?.prct ?? 0);
        case Sort.Hp:
          return -(u.hp.avgInfo?.value?.prct ?? 0);
        case Sort["Overall Efficiency"]:
          return -(u.mergeAvgInfo?.value?.prct ?? 0);
      }
    },
    // Resolve tie through Overall then HP, then DMG
    (u) => -(u.mergeAvgInfo?.value.prct ?? 0),
    (u) => -(u.dmg.avgInfo?.value ?? 0),
    (u) => -(u.hp.avgInfo?.value ?? 0)
  )
);
</script>
