<template>
  <ElProgress
    v-if="props.avgInfo"
    class="centerProgressBar"
    :show-text="false"
    :stroke-width="20"
    :percentage="props.avgInfo.prct * 100"
    :color="props.avgInfo.color"
    text-inside
  >
    <h1>
      {{ props.avgInfo.name }}
    </h1>
  </ElProgress>
</template>

<script lang="ts" setup>
/* global defineProps */

import { AvgInfoSection } from "@/data/damage_stat";

const props = defineProps<{
  avgInfo: AvgInfoSection | undefined;
}>();
</script>

<style lang="sass">
.centerProgressBar
  top: 5px
  margin: -15px -25px

  .el-progress-bar__inner
    right: 0
    margin: auto

    .el-progress-bar__innerText
      text-align: center
      width: 100%
      font-weight: bold
      margin: 0

      h1
        margin: 2px
</style>
