<template>
  <ElProgress
    v-if="props.avgInfo"
    :percentage="props.avgInfo.prct * 100"
    :color="props.avgInfo.color"
    type="dashboard"
  >
    <template #default="{ percentage }">
      <h3 class="mrgn">{{ props.avgInfo.name }}</h3>
      <h2 class="mrgn"><slot /></h2>
      <h4 class="mrgn">{{ percentage.toFixed(0) }}%</h4>
    </template>
  </ElProgress>
</template>

<script lang="ts" setup>
/* global defineProps */

import { AvgInfoSection } from "@/data/damage_stat";

const props = defineProps<{
  avgInfo: AvgInfoSection | undefined;
}>();
</script>

<style scoped>
.mrgn {
  margin: 5px;
}
</style>
