<template>
  <ElRow>
    {{ ToFixed(dmgAgainst) }}
    <ElIcon v-if="dmgArrow" :class="dmgArrow" />
    <div style="flex: 1"></div>

    <ElTooltip placement="right">
      <template #content>
        <table>
          <thead>
            <td>Name</td>
            <td>Damage</td>
            <td v-if="hasFac">Fac</td>
            <td v-if="hasNbTarget">Nb Target</td>
            <td v-if="needTotal">Total</td>
          </thead>
          <tbody>
            <tr v-for="dmg in props.damage" :key="dmg.name">
              <td>{{ dmg.name }}</td>
              <td>{{ ToFixed(dmg.value) }}</td>
              <td v-if="hasFac">{{ displayFac(dmg.fac, dmg.isDmg) }}</td>
              <td v-if="hasNbTarget">{{ dmg.nbTarget }}</td>
              <td v-if="needTotal">
                {{ ToFixed(dmg.totDmg) }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td>Total</td>
            <td v-if="hasFac" />
            <td v-if="hasNbTarget" />
            <td v-if="needTotal" />
            <td>{{ ToFixed(dmgAgainst) }}</td>
          </tfoot>
        </table>
      </template>
      <IconEmojioneInformation />
    </ElTooltip>
  </ElRow>
</template>

<script lang="ts">
function getArrow(damage: number, baseDamage?: number): string | null {
  if (!baseDamage) return null;

  const v = damage / baseDamage;
  if (v > 1) {
    return "el-icon-arrow-up";
  } else if (v < 1) {
    return "el-icon-arrow-down";
  } else {
    return null;
  }
}
</script>

<script lang="ts" setup>
/* global defineProps */

import { TotalDmg } from "@/data/damage_calc";
import { computed } from "vue";
import { DamageInfos } from "../data/unit_class";

function ToFixed(v: number, precision = 1): number {
  const C = 10 ** precision;
  return Math.round(v * C) / C;
}

function displayFac(fac: number, isDmg: boolean): string {
  if (fac != 1) {
    return `${ToFixed((fac - 1) * 100)}%`;
  } else {
    return "";
  }
}

const props = defineProps<{
  damage: DamageInfos;
  baseDamage?: number;
}>();

const dmgAgainst = computed(() => TotalDmg(props.damage));
const dmgArrow = computed(() => getArrow(dmgAgainst.value, props.baseDamage));

const hasNbTarget = computed(() => props.damage.some((e) => e.nbTarget != 1));
const hasFac = computed(() => props.damage.some((e) => e.fac != 1));

const needTotal = computed(() => hasFac.value || hasNbTarget.value);
</script>

<style>
td {
  text-align: center;
  padding: 0 5px;
}

td:first-child {
  text-align: right;
}

td:last-child {
  text-align: left;
}

thead td {
  font-weight: bold;
}
</style>
