<template>
  <ElButtonGroup>
    <ElButton
      v-for="v in VariantList"
      :key="v"
      :type="value == v ? props.colorOn : props.colorOff"
      @click="set(v)"
    >
      {{ props.enum[v] }}
    </ElButton>
  </ElButtonGroup>
</template>

<script lang="ts">
function onlyNum(src: string[]) {
  return src.map((e) => parseInt(e)).filter((e) => !isNaN(e));
}
</script>

<script lang="ts" setup>
/* global defineProps, defineEmits */
import { withDefaults, computed } from "vue";

type Color =
  | ""
  | "default"
  | "success"
  | "warning"
  | "info"
  | "text"
  | "primary"
  | "danger";

const props = withDefaults(
  defineProps<{
    modelValue?: number;
    enum: { [key: number]: string };
    default: number;
    colorOn?: Color;
    colorOff?: Color;
  }>(),
  {
    colorOn: "primary",
    colorOff: "info",
    modelValue: undefined,
  }
);

const emit = defineEmits<{
  (event: "update:modelValue", val: number): void;
}>();

const value = computed({
  get() {
    return props.modelValue ?? props.default;
  },
  set(val: number) {
    emit("update:modelValue", val);
  },
});

const VariantList = onlyNum(Object.keys(props.enum));

function set(v: number) {
  if (value.value == v) {
    value.value = props.default;
  } else {
    value.value = v;
  }
}
</script>
