<template>
  <TransitionGroup name="flip-list" tag="div" class="base_grid">
    <slot />
  </TransitionGroup>
</template>

<style lang="sass" scoped>
.base_grid
  display: grid
  justify-items: stretch
  justify-content: space-evenly
  grid-template-columns: repeat(auto-fit, minmax(auto, 600px))
  gap: 25px

.flip-list-move
  transition: transform 0.8s ease
</style>
