<template>
  <ElCard v-if="unit">
    <template #header>
      <ElRow align="middle">
        <h1 style="margin: 0">{{ unit.unit.name }}</h1>
        <div style="flex: 1"></div>
        <ElImage v-if="unit.unit.splash" :src="unit.unit.image" />
      </ElRow>
    </template>

    <ElDescriptions :column="2" :border="true">
      <ElDescriptionsItem :span="2">
        <template #label> <IconEmojioneMoneyBag /> Price </template>
        {{ unit.cost }}
        <ElImage src="@LTD2/icons/Gold32.png" style="height: 14px" />
      </ElDescriptionsItem>

      <ElDescriptionsItem>
        <template #label> <IconEmojioneCrossedSwords /> Dammage </template>
        <DammageWithDetail
          :damage="unit.dmg.raw.value"
          :base-damage="unit.dmg.base"
        />
      </ElDescriptionsItem>
      <ElDescriptionsItem>
        <template #label>
          <ElIcon class="el-icon-attack" />Dammage / Gold
        </template>
        {{ unit.dmg.perGold.value.toFixed(1) }}
      </ElDescriptionsItem>

      <ElDescriptionsItem>
        <template #label> <IconEmojioneShield /> Health </template>
        <DammageWithDetail
          :damage="unit.hp.raw.value"
          :base-damage="unit.hp.base"
        />
      </ElDescriptionsItem>
      <ElDescriptionsItem>
        <template #label>
          <ElIcon class="el-icon-attack" />Health / Gold
        </template>
        {{ unit.hp.perGold.value.toFixed(1) }}
      </ElDescriptionsItem>

      <ElDescriptionsItem v-if="unit.unit.evolFrom">
        <template #label> Parent unit: </template>
        <a :href="'#' + unit.unit.evolFrom.name">{{
          unit.unit.evolFrom.name
        }}</a>
      </ElDescriptionsItem>
    </ElDescriptions>
    <ElRow justify="center">
      <AvgPerfInfo :avg-info="unit.dmg.avgInfo?.value" style="margin: 15px">
        Damage
      </AvgPerfInfo>
      <AvgPerfInfo :avg-info="unit.hp.avgInfo?.value" style="margin: 15px">
        HP
      </AvgPerfInfo>
    </ElRow>
    <AvgPerfInfoBottomBar :avg-info="unit.mergeAvgInfo?.value" />
  </ElCard>

  <ElSkeleton v-else animated>
    <template #template>
      <ElCard>
        <template #header>
          <ElRow align="middle">
            <ElSkeletonItem variant="h1" style="width: 250px" />
            <div style="flex: 1"></div>
            <ElSkeletonItem variant="image" style="width: 64px; height: 64px" />
          </ElRow>
        </template>

        <ElSkeletonItem
          v-for="id in 3"
          :key="id"
          variant="h1"
          style="margin: 5px"
        />

        <ElRow justify="center">
          <ElSkeletonItem
            v-for="id in 2"
            :key="id"
            variant="circle"
            style="height: 126px; width: 126px; margin: 15px"
          />
        </ElRow>
      </ElCard>
    </template>
  </ElSkeleton>
</template>

<script lang="ts" setup>
/* global defineProps */

import { UnitInWave } from "@/data/unit_in_wave";
import { toRef } from "vue";

const props = defineProps<{
  unit?: UnitInWave;
}>();

const unit = toRef(props, "unit");
</script>

<style>
td {
  text-align: center;
  padding: 0 5px;
}
thead td {
  font-weight: bold;
}

.percentage-value {
  display: block;
  margin-top: 10px;
  font-size: 28px;
}

.percentage-label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
</style>
