<template>
  <ElCard v-if="props.unit">
    <template #header>
      <ElRow align="middle">
        <h1 style="margin: 0">{{ props.unit.name }}</h1>
        <div style="flex: 1"></div>
        <img v-if="props.unit.splash" :src="props.unit.image" />
      </ElRow>
    </template>

    <ElDescriptions :column="2" :border="true">
      <ElDescriptionsItem>
        <template #label> <IconEmojioneKeycapPound /> Number </template>
        {{ props.unit.nb }}
      </ElDescriptionsItem>
      <ElDescriptionsItem>
        <template #label> <IconEmojioneShield /> HP </template>
        {{ props.unit.hp }}
      </ElDescriptionsItem>
      <ElDescriptionsItem>
        <template #label> <IconEmojioneCrossedSwords /> Atk speed </template>
        {{ props.unit.atkSpeed.toFixed(2) }}
      </ElDescriptionsItem>
      <ElDescriptionsItem>
        <template #label> <IconEmojioneDagger /> On hit damage </template>
        {{ props.unit.onHitDmg }}
      </ElDescriptionsItem>
    </ElDescriptions>
  </ElCard>

  <ElSkeleton v-else animated>
    <template #template>
      <ElCard>
        <template #header>
          <ElRow align="middle">
            <ElSkeletonItem variant="h1" style="width: 250px" />
            <div style="flex: 1"></div>
            <ElSkeletonItem variant="image" style="width: 64px; height: 64px" />
          </ElRow>
        </template>

        <ElSkeletonItem
          v-for="id in 2"
          :key="id"
          variant="h1"
          style="margin: 5px"
        />
      </ElCard>
    </template>
  </ElSkeleton>
</template>

<script lang="ts" setup>
/* global defineProps */

import { WaveUnit } from "../data/unit_class";

const props = defineProps<{
  unit?: WaveUnit;
}>();
</script>
