<template>
  <ElRow justify="center" style="margin: 10px">
    <WaveSelector v-model="waveData.wave" />
  </ElRow>

  <ElRow justify="center" style="margin: 10px">
    <EnumSelector v-model="dmg" :default="Damage.Pure" :enum="Damage" />
  </ElRow>

  <ElRow justify="center" style="margin: 10px">
    <EnumSelector
      v-model="armor"
      :default="Armor.Immaterial"
      :enum="Armor"
      color-on="warning"
    />
  </ElRow>
</template>

<script lang="ts" setup>
/* global defineProps, defineEmits */
import { computed, reactive, watch } from "vue";
import { as } from "@/utils";

import { Damage, Armor } from "../data/damage";
import { EmptyWaveUnit, Wave, WaveUnit } from "../data/unit_class";
import { Waves } from "../data/raw";

defineProps<{ modelValue: Wave }>();

const emit = defineEmits<{
  (event: "update:modelValue", val: Wave): void;
}>();

type WaveIdOrNull = number | null;

const waveData = reactive({
  wave: as<WaveIdOrNull>(null),
  dmg: Damage.Pure,
  armor: Armor.Immaterial,
});

/* This need to be exported */
const waveInfo = computed<Wave>(() => {
  return waveData.wave === null
    ? [
        as<WaveUnit>({
          ...EmptyWaveUnit,
          damage: waveData.dmg,
          armor: waveData.armor,
        }),
      ]
    : Waves[waveData.wave];
});

watch(waveInfo, (w) => emit("update:modelValue", w));

const dmg = computed({
  get: () => waveInfo.value[0]?.damage ?? Damage.Pure,
  set: (dmg) => {
    waveData.wave = null;
    waveData.dmg = dmg;
  },
});
const armor = computed({
  get: () => waveInfo.value[0]?.armor ?? Armor.Immaterial,
  set: (armor) => {
    waveData.wave = null;
    waveData.armor = armor;
  },
});
</script>
