<template>
  <ElButton
    style="
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1px;
    "
    :disabled="!hasWave(addWave(-1))"
    @click="wave = addWave(-1)"
  >
    -
  </ElButton>
  <ElSelect v-model="wave" clearable placeholder="Select a wave">
    <ElOption
      v-for="(e, id) of Waves"
      :key="id"
      :label="nameGenerator(id)"
      :value="id"
    />
  </ElSelect>
  <ElButton
    style="
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    "
    :disabled="!hasWave(addWave(+1))"
    @click="wave = addWave(+1)"
  >
    +
  </ElButton>
</template>

<script lang="ts" setup>
/* global defineProps, defineEmits */

import { computed } from "vue";
import { Waves } from "../data/raw";

const props = defineProps<{
  modelValue: number | null;
}>();

const emit = defineEmits<{
  (event: "update:modelValue", val: number | null): void;
}>();

type WaveIdOrNull = number | "";
const wave = computed<WaveIdOrNull>({
  get: () => (props.modelValue === null ? "" : props.modelValue),
  set: (v) => emit("update:modelValue", v === "" ? null : v),
});

function nameGenerator(id: number): string {
  let name = `Wave ${id + 1} -`;
  for (let unit of Waves[id]) name += ` ${unit.name}`;
  return name;
}

function addWave(delta: number): number {
  return (props.modelValue ?? -1) + delta;
}

function hasWave(waveId: number) {
  return Waves[waveId] !== undefined;
}
</script>

<style>
.el-input__inner {
  --el-input-border-radius: 0;
}
</style>
